.buttonAdd{
   margin-left:915px;
    font-weight: bolder;
    font-size: 40px;
    width: 70px;
    background-color: rgb(235, 195, 195);
    color: rgb(37, 31, 31);
    border: none;
 }


 .modalTitle{
    font-size: x-large;
    font-weight: bolder;
    color:rgb(255, 0, 0)  ;
}

.modalBody{
    text-align: center;
    color: rgb(102, 96, 96);
    font-weight: bolder;
}

.formAdd{
    width:400px;
    height:30px;
    border-radius: 3px;
    border: 1px solid rgb(128, 128, 128);
    text-align: center;
    margin-left: 50px;
}